<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641974491542-ne83pjkd9f07t2lgk9oflvjkkge6dm2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641974491542-ne83pjkd9f07t2lgk9oflvjkkge6dm2r</string>
	<key>API_KEY</key>
	<string>AIzaSyApxFZk4lx0VhbTriGwboeMbtnBl29orlU</string>
	<key>GCM_SENDER_ID</key>
	<string>641974491542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ual.LPS2020</string>
	<key>PROJECT_ID</key>
	<string>lps2020-6afde</string>
	<key>STORAGE_BUCKET</key>
	<string>lps2020-6afde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641974491542:ios:8e0cc1f24120a10958a5b7</string>
	<key>DATABASE_URL</key>
	<string>https://lps2020-6afde.firebaseio.com</string>
</dict>
</plist>